<!DOCTYPE html>
<html>
<head>
  <style>
    .button {
      background-color: red;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>
  <script>
    function redirectToPredictPage() {
      window.location.href = 'http://127.0.0.1:5000/predict';
    }
  </script>
</head>
<body>
  <h1>Welcome to the Home Page</h1>
  <button class="button" onclick="redirectToPredictPage()">Redirect to Predict Page</button>
</body>
</html>

